<launch> 
  <node name="keyboard_teleop" pkg="keyboard_teleop" type="keyboard_teleop_node" output="screen" >
    <param name="cmd_vel_topic" type="string" value="/cmd_vel" />
    <param name="max_theta_speed" type="double" value="3" />
    <param name="theta_step" type="double" value="0.3" />
  </node>
</launch>
